body{
    font-family:arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    /* align-items: center; */
}
.container{
    width: 70%;
    height: 60vh;
    margin: 10vh 30vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 10px gray;
    max-width: 80%;
}
.container h2{
    text-align: center;
    margin:0 0 0 20px;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.method{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: #ffffff; */
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 0 30px;
}
.method .google{
    border: solid black 3px;
    border-radius: 40px;
    /* color: #ffffff; */
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 110px;
    justify-content: center;
}
.method .google:hover{
    background-color: #4285F4;
    color: #ffffff;
}
.method .facebook{
    border: solid black 3px;
    border-radius: 40px;
    /* color: #ffffff; */
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 110px;
    justify-content: center;
}
.method .facebook:hover{
    background-color: #3b5998;
    color: #ffffff;
}
.method img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    margin:0 20px;

}
.line {
    width: 5px;
    height: 120px;
    background-color: black;
    border-radius:10px
}
.text {
    margin: 10px 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 18px;
}
.form {
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Tiêu đề */
.form p {
    font-size: 30px;
    text-align: center;   /* sửa lại */
}

/* Nhóm login */
.form .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* Input */
.form .login-form input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
.form .login-form button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    /* transition: 1s; */
}

.form .login-form button:hover {
    background-color: #45a049;
}