body{
    font-family:arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
a {
    color: #ffffff;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 16px;
}
/* Nav bar */
.header{
    display:flex;
    justify-content: space-between;
    height: 60px;
}
.header .wname{
    width: 15%;
    box-sizing: border-box;

    background-color: #35424a;
    color: #ffffff;
    
    font-weight: bold;
    
    padding: 0 5px 0 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.header .wname a{
    color: #ffffff;
    font-size: 24px;
}
.header .nav{

    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 10px;
    font-size: 18px;
    width: 60%;
}
.header .nav a{
    color:black;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
}
.header .nav a:hover{
    background-color: #8dafc4;
    color: #ffffff;
}
.header .sale{
    color: #ff0000 !important;
}
.header .func{
    display:flex;
    align-items: center;

    padding: 10px;
    font-size: 18px;
}
.header .func a{
    color:black;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
}

.header .func a:hover{
    background-color: #35424a;
    color: #ffffff;
}
/* Poster duoi nav */
.banner{
    background-image: url(resources/anh_ao_khoac.jpg);
    color: #ffffff;
    padding: 100px 0 ;
    
    width: 100%;
    height: 100px;
    
    background-size:cover;
    background-position: center;

}
/* Danh muc san pham */
.categories{
    margin:100px 0 100px 0;
    padding: 10px 50px;
    height: 400px;
}
.categories .cate{
    display:flex;
    justify-content: space-evenly;
    overflow: auto;
    scrollbar-width: thin;
}
.categories .cate .c_item{
    padding: 10px;
    margin: 10px;
    flex-basis: 10%;
    
}
.categories .cate .c_item img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.categories .cate .c_item h3{
    text-align: center;
    margin: 10px 0;
}
.categories .cate .c_item .catejr_func{
    display:flex;
    justify-content: center;
}
.categories .cate .c_item .catejr_func a{
    background-color: #35424a;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
}
.categories .cate .c_item .catejr_func a:hover{
    background-color: #ffffff;
    color: #35424a;
    border: 1px solid #35424a;
}
/* Div Sale Tet */
.new_year_sale{
    padding: 50px 50px;
    margin: 100px 5px;
    background-color: #fff0df;
    height: 600px;
}
.new_year_sale .new_year_products{
    display:flex;
    justify-content: space-evenly;
    overflow: auto;
    scrollbar-width: thin;
}
.new_year_sale .new_year_products .nyp{
    padding: 10px;
    margin: 10px;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_year_sale .new_year_products .nyp img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
}
.new_year_sale .new_year_products .nyp .color{
    display:flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 0 0;
}
.new_year_sale .new_year_products .nyp .color .yellow{
    width: 50px;
    height: 20px;
    background-color: #ffff00;
    border-radius: 10px;
}
.new_year_sale .new_year_products .nyp .color .red{
    width: 50px;
    height: 20px;
    background-color: #ff0000;
    /* border-radius: 40%; */
    border-radius: 10px;
}
.new_year_sale .new_year_products .nyp .color .orange{
    width: 50px;
    height: 20px;
    background-color: #ff7300;
    border-radius: 10px;
}
.new_year_sale .new_year_products .nyp .ny_price{
    display:flex;
    align-items: center;
    gap: 5px;
}
.new_year_sale .new_year_products .nyp .ny_price .sale_p{
    color: #ff0000;
    font-weight: bold;
}
.new_year_sale .new_year_products .nyp .ny_price .old_p{
    color: #8c8c8c;
}
.new_year_sale .new_year_products .nyp a{
    background-color: #35424a;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
}
.new_year_sale .new_year_products .nyp a:hover{
    background-color: #ffffff;
    color: #35424a;
    border: 1px solid #35424a;
}
/* Poster duoi sale Tet */
.poster2{
    background-image: url(resources/anh_ao_khoac.jpg);
    color: #ffffff;
    padding: 100px 0 ;
    
    width: 100%;
    height: 100px;
    
    background-size:cover;
    background-position: center;
}
/* San pham hien dang duoc bay ban */
.products_showcase{
    display:flex;
    justify-content: space-evenly;
    padding: 50px 50px;
}
.products_showcase .products{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.products_showcase .products .product{
    padding: 10px;
    margin: 10px;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products_showcase .products .product img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
}
.products_showcase .products .product .color{
    display:flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 0 0;
}
.products_showcase .products .product .color .yellow{
    width: 50px;
    height: 20px;
    background-color: #ffff00;
    border-radius: 10px;
}
.products_showcase .products .product .color .red{
    width: 50px;
    height: 20px;
    background-color: #ff0000;
    /* border-radius: 40%; */
    border-radius: 10px;
}
.products_showcase .products .product .color .orange{
    width: 50px;
    height: 20px;
    background-color: #ff7300;
    border-radius: 10px;
}
.products_showcase .products .product a{
    background-color: #35424a;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
}
.products_showcase .products .product a:hover{
    background-color: #ffffff;
    color: #35424a;
    border: 1px solid #35424a;
}
.footer{
    background-color: #35424a;
    color: #ffffff;
    display:flex;
    justify-content: space-evenly;
    padding: 20px 0;
}